body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #F2F2F2;
  }

  main {
    flex: 1 0 auto;
  }

#tabla{
  padding-left: 175px;
}

#boton1 {

  background-color:#FFFFFF ;
  color: black;
  border-bottom-right-radius:30px ;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
#boton2{
background-color: #B03A2E;
border-bottom-right-radius: 30px;
border-bottom-left-radius: 30px;
border-top-left-radius: 30px;
border-top-right-radius: 30px;

border:whitesmoke 1px solid;
}

#boton3{


  background-color: #B03A2E;
border-bottom-right-radius: 30px;
border-bottom-left-radius: 30px;
border-top-left-radius: 30px;
border-top-right-radius: 30px;

border:grey 1px solid;
}


#encabezado{
 background-color: #B03A2E;
}

#footer_final{
  background-color: #B03A2E;


}

#buscador{
align-content: center;
color: white;
width: 395px;
height: 50px;
}


.containerS {

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;  
}

.menus{
background-color: antiquewhite; 
align-items: right;
justify-content: right;
}

#todo{

display: flex;
flex-direction:column;
  align-items: right;
  justify-content: right;
}

#tabla{
  background-color: #B03A2E;
}

#navegador_lateral {
  padding-left: 15px ;
  z-index: 100;
  position: absolute;
}

#imagen_inicio{
  z-index:1 ;
}

#titulo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 
#color{
  color: black;
}

#contorno{
  border: #7C75DB 1px solid;
border-bottom-right-radius: 30px;
border-bottom-left-radius: 30px;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
}

#modal1{
  width: 100%;
}

#modal2{
  width: 50%;

}

#imagen{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


#tabla1{
  width: 100px;
}
#tabla2{
  width: 350px;
}
#tabla3{
  width: 350px;
}
#tabla4{
  width: 350px;
}
#tabla5{
  width: 350px;
}
#tabla6{
  width: 350px;
}

#boton_g{
  background-color: #7C75DB;
  color: #F2F2F2;
  border-bottom-right-radius:30px ;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

}

#boton_c{
  background-color: #7C75DB;
  color: #FFFFFF;
  border-bottom-right-radius:30px ;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

#btn{
  background-color: #7C75DB;
  color: #FFFFFF;
  border-bottom-right-radius:30px ;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

#footer_pagi{
  color: #FFFFFF;
}


@media (max-width:1200px) {
  body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #F2F2F2;
  }
}

  @media (max-width:992px) {
    body{
      display: flex;
      min-height: 100vh;
      flex-direction: column;
      background-color: #F2F2F2;
    }
  }
 
    
      @media (max-width:600px) {
        body{
          display: block;
          min-height: 100vh;
          flex-direction: column;
          background-color: #F2F2F2;
        }
      
}
