body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #F2F2F2;
  }

  main {
    flex: 1 0 auto;
  }

#tabla{
  padding-left: 175px;
}

.container{
  margin-top: 80px;
}

#contenido{
  padding-left: 5%;
}

#separador{
  padding: 7px;
}

#boton_ingresar{
  width: 300px;
  align-self: center;
  background-color: #7c75db;
  border-radius: 20px;
}

#boton_registrar{
  width: 300px;
  align-self: center;
  background-color: #7c75db;
  border-radius: 20px;
}

.card-content{
  display: flex;
  flex-direction: column;
  text-align: center;
}

#boton1 {

  background-color:#FFFFFF ;
  color: black;
  border-bottom-right-radius:30px ;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
#boton2{
background-color: #B03A2E;
border-bottom-right-radius: 30px;
border-bottom-left-radius: 30px;
border-top-left-radius: 30px;
border-top-right-radius: 30px;

border:whitesmoke 1px solid;
}

#boton3{


  background-color: #B03A2E;
border-bottom-right-radius: 30px;
border-bottom-left-radius: 30px;
border-top-left-radius: 30px;
border-top-right-radius: 30px;

border:grey 1px solid;
}


#encabezado{
 background-color: #B03A2E;
}

#footer_final{
  background-color: #B03A2E;
  display: inline-block;

}

#buscador{
align-content: center;
color: white;
width: 395px;
height: 50px;
}


.containerS {

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;  
}

.menus{
background-color: antiquewhite; 
align-items: right;
justify-content: right;
}

#todo{

display: flex;
flex-direction:column;
  align-items: right;
  justify-content: right;
}

#tabla{
  background-color: #B03A2E;
}

#navegador_lateral {
  padding-left: 15px ;
  z-index: 2;
  position: absolute;
}



#colm_lateral{
padding-top: 120px;
 
}

#espacio_sencillo{
 padding-left: 100PX;
}

#colm_texto{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#imagen_inicio{

  max-width: 100%;
  height: auto;
  z-index:1 ;
  height: 100%;
  
}

#boton_inicio{
  background-color:#FFFFFF ;
  color: black;
  border-bottom-right-radius:30px ;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border:black 1px solid;
}



@media (max-width:1200px) {
  body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #F2F2F2;
  }
}

  @media (max-width:992px) {
    body{
      display: flex;
      min-height: 100vh;
      flex-direction: column;
      background-color: #F2F2F2;
    }
  }
 
    
      @media (max-width:600px) {
        body{
          display: block;
          min-height: 100vh;
          flex-direction: column;
          background-color: #F2F2F2;
        }
      
}
