body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #F2F2F2;
  }

  main {
    flex: 1 0 auto;
  }

#tabla{
  padding-left: 175px;
}

#boton1 {

  background-color:#FFFFFF ;
  color: black;
  border-bottom-right-radius:30px ;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
#boton2{
background-color: #B03A2E;
border-bottom-right-radius: 30px;
border-bottom-left-radius: 30px;
border-top-left-radius: 30px;
border-top-right-radius: 30px;

border:whitesmoke 1px solid;
}

#boton3{


  background-color: #B03A2E;
border-bottom-right-radius: 30px;
border-bottom-left-radius: 30px;
border-top-left-radius: 30px;
border-top-right-radius: 30px;

border:grey 1px solid;
}


#encabezado{
 background-color: #B03A2E;
}

#footer_final{
  background-color: #B03A2E;
  display: inline-block;

}

#buscador{
align-content: center;
color: white;
width: 395px;
height: 50px;
font-style:italic;
}


.containerS {

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;  
}

.menus{
background-color: antiquewhite; 
align-items: right;
justify-content: right;
}

#todo{

display: flex;
flex-direction:column;
  align-items: right;
  justify-content: right;
}

#tabla{
  background-color: #B03A2E;
}

#navegador_lateral {
  padding-left: 15px ;
  z-index: 2;
  position: absolute;
}



#colm_lateral{
padding-top: 120px;
 
}

#espacio_sencillo{
 padding-left: 100PX;
}

#titulo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#imagen_inicio{
  z-index:1 ;
}

#voto_1{
  background-color: #FFFFFF;
  color: black;
}
#voto_2{
  background-color: #FFFFFF;
  color: black;
}

#voto_3{
  background-color: #FFFFFF;
  color: black;
}

#voto_4{
  background-color: #FFFFFF;
  color: black;
}

#voto_5{
  background-color: #FFFFFF;
  color: black;
}

#voto_6{
  background-color: #FFFFFF;
  color: black;
}

#enviar{
  background-color: #f2f2f2;
}

#contenedor {
  padding-left:20px;
}

@media (max-width:1200px) {
  body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #F2F2F2;
  }
}

  @media (max-width:992px) {
    body{
      display: flex;
      min-height: 100vh;
      flex-direction: column;
      background-color: #F2F2F2;
    }
  }
 
    
      @media (max-width:600px) {
        body{
          display: block;
          min-height: 100vh;
          flex-direction: column;
          background-color: #F2F2F2;
        }
      
}
