body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #F2F2F2;
  margin-bottom:5%;
}


main {
  flex: 1 0 auto;
}

#tabla {
  padding-left: 175px;
}

#boton1 {

  background-color: #FFFFFF;
  color: black;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

#boton2 {
  background-color: #B03A2E;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  border: whitesmoke 1px solid;
}

#boton3 {


  background-color: #B03A2E;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  border: grey 1px solid;
}


#encabezado {
  background-color: #B03A2E;
}


#footer_final {
  background-color: #B03A2E;
  color: #FFFFFF;
bottom:0;
    padding-bottom:1%;
    padding-top:1%;
    height:fit-content;
    width:100%;
    margin:0px;
    position:fixed;
    z-index:999;
 

}

#buscador {
  align-content: center;
  color: white;
  width: 395px;
  height: 50px;
  font-style: italic;
}


.containerS {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menus {
  background-color: antiquewhite;
  align-items: right;
  justify-content: right;
}

#todo {

  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: right;
}

#tabla {
  background-color: #B03A2E;
}

#navegador_lateral {
  padding-left: 15px;
  z-index: 100;
  position: absolute;
}

#imagen_inicio {
  z-index: 1;
}


#titular {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.estadistica {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

.estadistica li {
  display: inline-block;

}

#estadistica {
  width: 315px;
  height: 202px;
}

#tabla1 {
  width: 100px;
}

#tabla2 {
  width: 300px;
}

#tabla3 {
  width: 300px;
}

#tabla4 {
  width: 300px;
}

#tabla5 {
  width: 300px;
}

#tabla6 {
  width: 300px;
}

#titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#color {
  color: black;
}

#contorno {
  border: #7C75DB 1px solid;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

#modal1 {
  width: 75%;
}

#modal2 {
  width: 75%;

}

#save-modal {
  width: 75%;
}

#update-modal {
  width: 50%;
}

#delete-modal {
  width: 75%;
}

#log-modal {
  width: 20%;
}

#imagen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#imagen3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}

#imagenO {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 250px;

}

#imagen_categoria {
  max-width: 100%;
  height: auto;

}

#modal1_tipoauto {
  width: 75%;
}

#modal2_tipoauto {
  width: 75%;

}

#modal3_tipoauto {
  width: 75%;

}

#contorno2 {
  border: #068f0d 1px solid;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

#contorno3 {
  border: #a00e0e 1px solid;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

#imagen_imagen {
  width: 100%;
  height: 100%;
}

#boton_agregar {
  background-color: #7C75DB;
  color: #FFFFFF;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}



#iconomsg {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#modal1_adminempleado {
  width: 75%;
}

#modal2_adminempleado {
  width: 75%;

}

#modal3_adminempleado {
  width: 75;
}

#modal_guardar {
  width: 25%;
}

#modal_error {
  width: 25%;
}

#imgadv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#modal1_categoria {
  width: 75%;
}

#modal2_adcategoria {
  width: 75%;

}

#modal3_adcategoria {
  width: 75%;

}

#imagen_categoria {
  max-width: 100%;
  height: auto;

}

.table-img {
  width: 150px;
  height: 100px;
}

.edit-img {
  width: 250px;
  height: 175px;
}

#contenedor_iniciolo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#contenedor_principal {
  padding-left: 20px;
}

#contenido_inic {
  display: flex;
  flex-direction: column;
  text-align: center;
}



#boton_ingresar {
  width: 300px;
  align-self: center;
  background-color: #7c75db;
  border-radius: 20px;
}

#cont_inlo {
  margin-left: 22%;
  margin-right: 22%;
  margin-top: 5%;
  width: 400px;
}

@media (max-width:1200px) {
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #F2F2F2;
  }
}

@media (max-width:992px) {
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #F2F2F2;
  }
}


@media (max-width:600px) {
  body {
    display: block;
    min-height: 100vh;
    flex-direction: column;
    background-color: #F2F2F2;
  }



}
